POSTGRES_DB=rental
POSTGRES_USER=rental_user
POSTGRES_PASSWORD=change_me
DB_NAME=rental
DB_HOST=db
DB_PORT=5432
DEBUG=True
SECRET_KEY=change-me-to-random-secret
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_SQLITE=False
CSRF_TRUSTED_ORIGINS=http://localhost,https://localhost
